[mgr]
ratio = [1, 4, 3]
sort_by = "mtime"
sort_reverse = true
sort_dir_first = true
linemode = "size"
show_hidden = false
show_symlink = true

[preview]
tab_size = 2
max_width = 600
max_height = 900
cache_dir = ""
image_filter = "lanczos3"
image_quality = 80

[opener]
edit = [
    { run = 'hx "$@"', block = true },
]
open = [
    { run = 'xdg-open "$@"', desc = "Open" },
]

[open]
rules = [
    { mime = "text/*", use = "edit" },
    { mime = "image/*", use = "open" },
]
