@define-color	rosewater	rgb(245, 224, 220);
@define-color	flamingo	rgb(242, 205, 205);
@define-color	pink		rgb(245, 194, 231);
@define-color	mauve		rgb(203, 166, 247);
@define-color	red			rgb(243, 139, 168);
@define-color	maroon		rgb(235, 160, 172);
@define-color	peach		rgb(250, 179, 135);
@define-color	yellow		rgb(249, 226, 175);
@define-color	green		rgb(166, 227, 161);
@define-color	teal		rgb(148, 226, 213);
@define-color	sky			rgb(137, 220, 235);
@define-color	sapphire	rgb(116, 199, 236);
@define-color	blue		rgb(137, 180, 250);
@define-color	lavender	rgb(180, 190, 254);
@define-color	text		rgb(205, 214, 244);
@define-color	subtext1	rgb(186, 194, 222);
@define-color	subtext0	rgb(166, 173, 200);
@define-color	overlay2	rgb(147, 153, 178);
@define-color	overlay1	rgb(127, 132, 156);
@define-color	overlay0	rgb(108, 112, 134);
@define-color	surface2	rgb(88, 91, 112);
@define-color	surface1	rgb(69, 71, 90);
@define-color	surface0	rgb(49, 50, 68);
@define-color	base		rgb(30, 30, 46);
@define-color	mantle		rgb(24, 24, 37);
@define-color	crust		rgb(17, 17, 27);

* { 
    outline-style: none;
    border: 0;
    background: none;
}

window {
    font-family: "JetBrainsMono Nerd Font", "Font Awesome 5 Pro Solid";
    border-radius: 15px;
    background-color: rgba(30,30,46, .9);
    border: 1px solid @surface0;
    margin: 0;
}

#outer-box {
    padding: 10px;
    margin: 10px 5px;
}

#inner-box {
    margin: 0 0 10px;
}

#scroll {
    border: 0;
    background: none;
}

#input {
    background: transparent;
    border-radius: 20px;
    color: @text;
    padding: 3px 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 0;
}

#input:focus {
    background: @surface0;
}

#entry {
    color: @text;
    padding: 5px 10px;
    margin: 0 0 5px 0;
    transition: background 200ms ease-out, padding 300ms ease-out;
    border-radius: 20px;
}

#entry:selected {
    background: linear-gradient(90deg, @flamingo 25%, @lavender 75%);
    border-radius: 20px;
    transition: background 300ms ease-in, padding 300ms ease-in;
    padding-left: 15px
}

#text {
    padding-left: 10px;
    font-size: 14px;
    transition: color 300ms ease-out;
}

#text:selected {
    color: @crust;
}
