[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target


[Service]
ExecStart=/usr/bin/env hypridle -c %h/.config/hypr/hypridle.conf
Restart=on-failure

[Install]
WantedBy=graphical-session.target
